{% extends 'laconica/base.html' %}{% load i18n %}
{% comment %}
Copyright 2009 Serge Matveenko

This file is part of Pythonica.

Pythonica is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Pythonica is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Pythonica.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% block content %}

     <h1>{% firstof list_owner.get_full_name list_owner.username %} ({{ list_owner.username }})</h1>
      <div class="entity_profile vcard author">
       <h2>{% trans 'User profile' %}</h2>
       <dl class="entity_depiction">
        <dt>{% trans 'Photo' %}</dt>
        <dd>
         <img src="{{ MEDIA_URL }}images/laconica/default-avatar.png" class="photo avatar" alt="pythonica" height="100" width="100">
</dd>

        <dd>{% ifequal list_owner user %}
<a href="% url pythonica-settings-avatar %">{% trans 'Edit Avatar' %}</a>
{% endifequal %}</dd>
</dl>
       <dl class="entity_nickname">
        <dt>{% trans 'Nickname' %}</dt>
        <dd>
         <a href="{{ list_owner.get_absolute_url }}" rel="me" class="nickname url uid">{{ list_owner.username }}</a>
</dd>
</dl>
       <dl class="entity_fn">
        <dt>{% trans 'Full name' %}</dt>
        <dd>
         <span class="fn">{{ list_owner.get_full_name }}</span>
</dd>
</dl>
</div>
      <div class="entity_actions">
       <h2>{% trans 'User actions' %}</h2>
       <ul>
{% ifequal list_owner user %}
<li class="entity_edit">
    <a href="http://identi.ca/settings/profile" title="Edit profile settings">Edit</a>
</li>
{% else %}

<li class="entity_subscribe">
{% if is_subscribed %}
    <form id="unsubscribe-{{ list_owner.id }}" class="form_user_unsubscribe" method="post" action="{% url pythonica-subscribe %}">
        <fieldset>
            <legend>{% trans 'Unsubscribe from this user' %}</legend>
            {{ subscribe_form }}
            <input type="submit" name="submit" class="submit" value="{% trans 'Unsubscribe' %}" title="{% trans 'Unsubscribe from this user' %}"/>
        </fieldset>
    </form>
{% else %}
    <form id="subscribe-{{ list_owner.id }}" class="form_user_subscribe" method="post" action="{% url pythonica-subscribe %}">
        <fieldset>
            <legend>{% trans 'Subscribe to this user' %}</legend>
            {{ subscribe_form }}
            <input type="submit" name="submit" class="submit" value="{% trans 'Subscribe' %}" title="{% trans 'Subscribe to this user' %}">
        </fieldset>
    </form>
{% endif %}
</li>

<li class="entity_block">
{% if is_blocked %}
    <form id="unblock-{{ list_owner.id }}" class="form_user_unblock" method="post" action="{% url pythonica-block %}">
        <fieldset>
            <legend>{% trans 'Unblock this user' %}</legend>
            {{ block_form }}
            <input type="submit" name="submit" class="submit" value="{% trans 'Unblock' %}" title="{% trans 'Unblock this user' %}">
        </fieldset>
    </form>
{% else %}
    <form id="block-{{ list_owner.id }}" class="form_user_block" method="post" action="{% url pythonica-block %}">
        <fieldset>
            <legend>{% trans 'Block this user' %}</legend>
            {{ block_form }}
            <input type="submit" name="submit" class="submit" value="{% trans 'Block' %}" title="{% trans 'Block this user' %}">
        </fieldset>
    </form>
{% endif %}
</li>

{% endifequal %}
</ul>
</div>

     <dl id="page_notice" class="system_notice">
      <dt>{% trans 'Page notice' %}</dt>
      <dd></dd>
</dl>
     <div id="content_inner">
      <div id="notices_primary">
       <h2>{% trans 'Notices' %}</h2>

       <ul class="notices">

{% for notice in notices.object_list %}
{% include 'inc/notice.html' %}
{% empty %}
<div class="guide">
{% ifequal list_owner user %}
<p>{% trans "Seen anything interesting recently? You haven't posted any notices yet, now would be a good time to start :)" %}</p>
{% else %}
<p>{% trans "This is the timeline for pythonica but pythonica hasn't posted anything yet." %}</p>
{% endifequal %}
</div>
{% endfor %}

</ul>
</div>
      <div class="pagination">
       <dl>
        <dt>{% trans 'Pagination' %}</dt>

        <dd>
         <ul class="nav">
            {% if notices.has_previous %}
            <li class="nav_prev"> 
                <a href="{% url pythonica-profile username=list_owner.username page=notices.previous_page_number %}" rel="prev">{% trans 'After' %}</a> 
            </li>
            {% endif %}
            {% if notices.has_next %}
            <li class="nav_next"> 
                <a href="{% url pythonica-profile username=list_owner.username page=notices.next_page_number %}" rel="next">{% trans 'Before' %}</a>
            </li> 
            {% endif %}
</ul>
</dd>
</dl>
</div>
</div>

{% endblock content %}
