{% extends "base.html" %}{% load i18n %}
{% comment %}
Copyright 2010 Serge Matveenko

This file is part of Pythonica.

Pythonica is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Pythonica is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Pythonica.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}


{% block content %}

{% if account %}

<p>{% blocktrans with account.username as account_username %}Account {{ account_username }} was successfully activated. You may login now using login name and password you've provided during registration process.{% endblocktrans %}</p>

{% else %}

<p>{% trans 'There were error during activation.' %}</p>

{% endif %}

{% endblock %}
