{% extends "base.html" %}{% load i18n %}
{% comment %}
Copyright 2010 Serge Matveenko

This file is part of Pythonica.

Pythonica is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Pythonica is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Pythonica.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}


{% block content %}

{% if validlink %}

<p>{% trans 'Enter new password twice.' %}</p>

<form action="" method="post">

<p>{{ form.new_password1.label_tag }}<br />
{{ form.new_password1 }}{{ form.new_password1.errors }}</p>

<p>{{ form.new_password2.label_tag }}<br />
{{ form.new_password2 }}{{ form.new_password2.errors }}</p>

<p><input type="submit" value="{% trans 'Set password' %}" /></p>

</form>

{% else %}

<p>{% trans 'Wrong password reset link. Please try again.' %}</p>

{% endif %}

{% endblock %}
