{% extends 'base_default.html' %}
{% comment %}
Copyright 2009-2010 Serge Matveenko

This file is part of Pythonica.

Pythonica is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Pythonica is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Pythonica.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% block header %}
<h1><a href="{% url pythonica-index %}">{{ site.name }}</a></h1>
{% include 'inc/main_menu.html' %}
{% endblock header %}

{% block content %}

{% block notice_form %}
{% include 'inc/notice_form.html' %}
{% endblock notice_form %}

{% block pythonica %}
{% endblock pythonica %}

<p><em>Powered by <a href="http://pythonica.nophp.ru/">Pythonica</a></em></p>

{% endblock content %}
