{% comment %}
Copyright 2009 Serge Matveenko

This file is part of Pythonica.

Pythonica is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Pythonica is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Pythonica.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="u">

<head>

<title>{% block title %}{{ site.name }}{% endblock %}</title>

<link rel="icon" type="image/png" href="/media/images/favicon.png" />

{% block css %}
<link rel="stylesheet" href="/media/css/default.css" type="text/css" />
{% endblock %}

{% block rss %}
{% endblock rss %}

</head>

<body>

<div id="main">

{% block header %}
<div id="header">
{% include 'pythonica/header.html' %}
</div>
{% endblock header %}

{% block messages %}
<div id="messages">
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
{% endblock %}

{% block content %}
<div id="content">
</div>
{% endblock %}

{% block footer %}
<div id="footer">
{% include 'pythonica/footer.html' %}
</div>
{% endblock footer %}

</div>

{% block debug %}
<div id="debug">
{% if debug %}
<br clear="both" />
<hr/>
<p>
{% for sql_query in sql_queries %}
{{ forloop.counter }}. {{ sql_query.sql }} in {{ sql_query.time }}<br />
{% endfor %}
</p>
{% endif %}
</div>
{% endblock %}
</body>

</html>
